.line {
	display: flex;
	align-items: center;
	color: #FFFFFF;
	opacity: 0.4;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	margin-top: 18px;
}

.txtInBasmentColumns {
	margin-left: 10px
}